.header {
  text-transform: uppercase; }

.orange {
  color: orange; }

.opacity {
  opacity: 0; }

.header, .main_sect .main_sect_container {
  font-family: 'Uni Sans Heavy Caps', sans-serif;
  font-weight: 900; }

html {
  font-size: 16px; }

@media (min-width: 1200px) {
  .container {
    width: 1264px; } }

a {
  color: #ffffff; }
  a:hover {
    color: #f3a10d; }

.disp_block {
  display: block; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto Bold.woff2") format("woff2"), url("../../fonts/Roboto Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto Regular.woff2") format("woff2"), url("../../fonts/Roboto Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Uni Sans Heavy Caps';
  src: url("../../fonts/Uni Sans Heavy Caps Regular.woff2") format("woff2"), url("../../fonts/Uni Sans Heavy Caps Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00BB; }

@font-face {
  font-family: 'PT Sans';
  src: url("PT Sans.woff2") format("woff2"), url("PT Sans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F6CE; }

@font-face {
  font-family: 'PT Sans';
  src: url("PT Sans Bold.woff2") format("woff2"), url("PT Sans Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F6CE; }

@font-face {
  font-family: 'o';
  src: url("o Condensed.woff2") format("woff2"), url("o Condensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'o';
  src: url("o Light.woff2") format("woff2"), url("o Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'FontAwesome';
  src: url("FontAwesome Regular.woff2") format("woff2"), url("FontAwesome Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00D8; }

.header {
  background-color: #000000; }
  @media (min-width: 768px) and (max-width: 991px) {
    .header .header_cont {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .header .logo_container {
    margin-top: 36px;
    margin-bottom: 41px; }
  .header .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    /*
		.nav_item:before{
			content: "";
			opacity: 0;
			top: -48px;
    		left: -10px;	
			position: absolute;
			width: 200px;
			height: 200px;
			background: url("../../img/hex2.png") no-repeat;
		}
		.nav_item:after{
			content: "";
			opacity: 0;
			top: -36px;
    		left: 2px;
			position: absolute;
			width: 200px;
			height: 200px;
			background: url("../../img/hex3.png") no-repeat;
		}
*/ }
    .header .nav .hamburder_icon {
      position: absolute; }
    .header .nav .nav_item {
      z-index: 1;
      display: inline-block;
      position: relative;
      color: #ffffff;
      font-size: 1.125em;
      margin-left: 0px;
      margin-right: 25px; }
      .header .nav .nav_item .nav_item_hover {
        position: absolute;
        padding: 10px;
        opacity: 0;
        -webkit-transform: translate(-16%, -41%);
            -ms-transform: translate(-16%, -41%);
                transform: translate(-16%, -41%); }
        .header .nav .nav_item .nav_item_hover .orangehex {
          position: relative; }
        .header .nav .nav_item .nav_item_hover .orangehex_min {
          position: absolute;
          -webkit-transform: translate(15%, -189%);
              -ms-transform: translate(15%, -189%);
                  transform: translate(15%, -189%); }
      .header .nav .nav_item:hover {
        color: #f3a10d; }
  .header .head_select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875em;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    background-color: #000000;
    border: none; }
    .header .head_select:hover {
      outline: 0;
      color: #f3a10d; }
    .header .head_select:active {
      outline: 0; }
    .header .head_select:focus {
      outline: 0; }
    .header .head_select .head_select_opt:hover {
      outline: 0;
      color: #f3a10d; }
    .header .head_select .head_select_opt:active {
      outline: 0; }
    .header .head_select .head_select_opt:focus {
      outline: 0; }

.main_sect {
  -webkit-background-size: cover;
          background-size: cover; }
  .main_sect .main_sect_container {
    position: relative;
    color: #ffffff; }
    .main_sect .main_sect_container .ball_con {
      margin-top: 105px;
      background: transparent;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      list-style: none; }
      .main_sect .main_sect_container .ball_con .ball {
        margin-left: 12px; }
      .main_sect .main_sect_container .ball_con .ball_1 {
        margin-right: 23px;
        margin-left: 57px; }
      .main_sect .main_sect_container .ball_con .ball_3 {
        margin-bottom: -28px;
        margin-left: 38px; }
      .main_sect .main_sect_container .ball_con .ball_4 {
        margin-bottom: -88px;
        margin-left: 27px; }
      .main_sect .main_sect_container .ball_con .ball_5 {
        margin-bottom: -229px;
        margin-left: -2px; }
    .main_sect .main_sect_container .main_tittle {
      margin-top: 156px;
      margin-left: 76px;
      font-size: 1.612em; }
    .main_sect .main_sect_container .hexagon {
      margin-top: 115px;
      position: relative;
      width: 432px;
      height: 249.42px;
      background-color: #000000ab;
      margin: 115.47px 0; }
      @media (min-width: 576px) and (max-width: 767px) {
        .main_sect .main_sect_container .hexagon {
          width: 325px;
          height: 187.75px; } }
    .main_sect .main_sect_container .hexagon:before,
    .main_sect .main_sect_container .hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 216px solid transparent;
      border-right: 216px solid transparent;
      margin-left: -50%; }
      @media (min-width: 576px) and (max-width: 767px) {
        .main_sect .main_sect_container .hexagon:before,
        .main_sect .main_sect_container .hexagon:after {
          border-left: 162px solid transparent;
          border-right: 162px solid transparent; } }
    .main_sect .main_sect_container .hexagon:before {
      bottom: 100%;
      border-bottom: 115.47px solid #000000ab; }
    .main_sect .main_sect_container .hexagon:after {
      top: 100%;
      margin-left: -50%;
      border-top: 115.47px solid #000000ab; }
    .main_sect .main_sect_container .info_about {
      margin-left: 93px;
      margin-bottom: 188px;
      margin-top: 108px;
      padding-left: 66px;
      padding-right: 66px;
      font-size: 0.875em;
      text-align: center;
      background-color: #000000ab; }
      .main_sect .main_sect_container .info_about .info_tittle {
        margin-bottom: 45px;
        font-size: 1.875em;
        -webkit-animation-delay: 10s;
                animation-delay: 10s; }
      .main_sect .main_sect_container .info_about .info_about_text {
        height: 140px;
        overflow-x: hidden;
        overflow-y: scroll; }
      .main_sect .main_sect_container .info_about .info_about_text::-webkit-scrollbar {
        width: 0px; }
    .main_sect .main_sect_container .info_btn {
      width: 146px;
      height: 125px;
      margin: 10px 79px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      z-index: 10;
      position: absolute;
      overflow: visible;
      background: url(../../img/hex.png) 16px -2px no-repeat; }
    .main_sect .main_sect_container .learn_m:hover, .main_sect .main_sect_container .learn_m:active {
      text-decoration: none;
      color: #ffffff; }
    .main_sect .main_sect_container .scroll_down {
      position: absolute;
      font-size: 0.875em;
      bottom: -5px;
      left: 47%; }
      .main_sect .main_sect_container .scroll_down p {
        text-align: center; }
    .main_sect .main_sect_container .main_nav {
      position: absolute;
      top: 39%;
      right: 8%; }
      .main_sect .main_sect_container .main_nav .main_nav_list {
        list-style: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .main_sect .main_sect_container .main_nav .main_nav_list .main_nav_item a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0); }
          .main_sect .main_sect_container .main_nav .main_nav_list .main_nav_item a:hover, .main_sect .main_sect_container .main_nav .main_nav_list .main_nav_item a:active {
            color: #ffffff; }
        .main_sect .main_sect_container .main_nav .main_nav_list .main_nav_item .main_nav_href {
          padding-right: 20px; }
        .main_sect .main_sect_container .main_nav .main_nav_list .main_nav_item .main_nav_item_icon {
          display: inline-block;
          width: 21px;
          height: 23px;
          background: url(../../img/main_nav.png) 0px 25px; }
          .main_sect .main_sect_container .main_nav .main_nav_list .main_nav_item .main_nav_item_icon:hover {
            background: url(../../img/main_nav.png) 0px 0px; }
    .main_sect .main_sect_container .join_us {
      position: absolute;
      bottom: 4%;
      right: 8%; }

@-webkit-keyframes animatedBackground {
  0 {
    -webkit-transform: translate(-750px, 0px);
            transform: translate(-750px, 0px); }
  100% {
    -webkit-transform: translate(0px, -60px);
            transform: translate(0px, -60px); } }

@keyframes animatedBackground {
  0 {
    -webkit-transform: translate(-750px, 0px);
            transform: translate(-750px, 0px); }
  100% {
    -webkit-transform: translate(0px, -60px);
            transform: translate(0px, -60px); } }

@-webkit-keyframes balkon {
  0 {
    -webkit-transform: scale(1.04);
            transform: scale(1.04); }
  25% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }
  75% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes balkon {
  0 {
    -webkit-transform: scale(1.04);
            transform: scale(1.04); }
  25% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }
  75% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes Ball {
  0 {
    -webkit-transform: translate(0px, 25px);
            transform: translate(0px, 25px); }
  50% {
    -webkit-transform: translate(0px, -32px);
            transform: translate(0px, -32px); }
  100% {
    -webkit-transform: translate(0px, 7px);
            transform: translate(0px, 7px); } }

@keyframes Ball {
  0 {
    -webkit-transform: translate(0px, 25px);
            transform: translate(0px, 25px); }
  50% {
    -webkit-transform: translate(0px, -32px);
            transform: translate(0px, -32px); }
  100% {
    -webkit-transform: translate(0px, 7px);
            transform: translate(0px, 7px); } }

#balkon {
  background-image: url("../../img/bg_3.png");
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
  background-position: center center;
  -webkit-animation: balkon 6s linear forwards;
          animation: balkon 6s linear forwards; }

#fly_car {
  position: absolute;
  -webkit-transform: translate(-7%, 63%);
      -ms-transform: translate(-7%, 63%);
          transform: translate(-7%, 63%); }

.ball_1 {
  -webkit-animation: Ball 2s linear forwards infinite;
          animation: Ball 2s linear forwards infinite; }

.ball_2 {
  -webkit-animation: Ball 2.5s linear forwards infinite;
          animation: Ball 2.5s linear forwards infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.ball_3 {
  -webkit-animation: Ball 1.7s linear forwards infinite;
          animation: Ball 1.7s linear forwards infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

.ball_4 {
  -webkit-animation: Ball 2.5s linear forwards infinite;
          animation: Ball 2.5s linear forwards infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.ball_4 {
  -webkit-animation: Ball 2.5s linear forwards infinite;
          animation: Ball 2.5s linear forwards infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

.ball_5 {
  -webkit-animation: Ball 2.5s linear forwards infinite;
          animation: Ball 2.5s linear forwards infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

#earth_1_img {
  width: 100%;
  top: -10%;
  -webkit-animation: animatedBackground 7.0s linear forwards;
          animation: animatedBackground 7.0s linear forwards; }

.earth_1 {
  position: absolute;
  z-index: -1; }

.sect_two {
  background-image: url("../../img/sect_two_bg.jpg");
  -webkit-background-size: cover;
          background-size: cover; }
